*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.heart{
    position: fixed;
    top: -5vh;
    font-weight: 700;
    font-size: 30px;
    transform: translateY(0) ;
    animation: fall 3s  linear;

}

@keyframes fall {
    to{
        transform: translateY(105vh);
    }

}